*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.main {
    width: 95%;
    padding: 5px;
    background-color: rgb(249, 249, 249);
}

.main h2 {
    background-color: rgb(234, 234, 234);
    width: 55%;
    padding: 10px;
    margin: 10px;
}


.main h2:hover {
    background-color: rgb(218, 218, 218);
    transition: 0.3s;
}

.calculadora {
    width:40%;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
}

input[type="button"] {
    border: none;
    margin: 2px;
    width: 30px;
    font-size: 21px;
    background-color: rgb(243, 243, 243);
}

input[type="button"]:hover {
    background-color: rgb(227, 227, 227);
}

input[type="text"] {
    width: 95%;
}